img{
  height: 100px;
  width: 100px;
}

.purchase-img{
  height: 100px;
  width: 100px;
}

.removeFromCart:hover{
  color: red!important;
  cursor: pointer;
}

.container{
  background: #ffff;
  margin-top: 10px;
}
